

h2 {
  font-size: 12px;
  margin: 10px;
  align-content: flex-start;

}

p {
  font-size: 12px;
  margin-left: 10px;
  color: rgb(82, 82, 82);
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

button {
  background:  #c71585;
  border: 0;
  color: rgb(255, 255, 255);
  border-radius: 2px;
  max-width: 300px;
  height: 40px;
  font-size: 18px;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;

}

.Modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: auto;
  width: auto;
  top: 50%;
  left: 50%;
  right: auto;

  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: rgb(255, 255, 255, 1);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(125, 0, 250);
}
